Source: rms
Section: sound
Priority: optional
Maintainer: Milan Chrobok <mc@radiopiloten.de>
Build-Depends: debhelper (>= 8),
 perl, libmodule-install-perl, libavcodec-dev, libavformat-dev
Standards-Version: 4.5.0
Homepage: https://launchpad.net/~mc-1/+archive/audioTools

Package: rms
Architecture: any
Depends: ${misc:Depends}, ${perl:Depends},
 libgetopt-long-descriptive-perl,
 gnuplot-nox,
 ffmpeg
Description: detect and plot audio RMS
